---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<section class="arc-section">
	<Navbar />

	<div class="welcome-container">
		<h1>Bienvenido a Brd+ | Blog</h1>

		<p>Encontrarás aquí todo lo que necesitas para empezar tu camino hacia la ciberseguridad.</p>

		<div class="btn-container">
			<button>Comenzar</button>
		</div>
	</div>

	<Footer />
</section>

<style>
	h1 {
		margin: 0;
		padding: 0;
		color: rgb(255, 255, 255);
		font-size: 4rem;
	}

	p {
		color: rgb(255, 255, 255);
		font-size: 1.5rem;
		margin: 0;
	}

	.arc-section {
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}

	.welcome-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 70%;
		margin-top: 2rem;
		height: 500px;
		border-radius: 20px;
		background-image: url("https://polar.sh/assets/landing/hero.jpg");
		background-size: cover;
		background-position: center;
		mask-image: linear-gradient(to bottom, black 70%, transparent 100%)
	}

	.btn-container {
		margin-top: 5rem;
	}

	button {
		background-color: #f0f0f0;
		color: #111111;
		border: none;
		padding: .6rem 1.2rem;
		cursor: pointer;
		border-radius: 30px;
		font-family: 'Onest', sans-serif;
		font-size: .9rem;
	}
</style>